<%= turbo_frame_tag :remote_modal, target: '_center' do %>
  <div class='modal fade' data-controller='modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h4 class='modal-title fw-bold'>Which list would you like to add to?</h4>
          <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
        </div>
        <div class='modal-body'>
            <% @lists.each do |list|%>
              <div class='list-show d-flex justify-content-start align-items-center my-4'>
                <%= link_to lists_path, class: "add-movie me-3" do %>
                  <i class="fa-solid fa-circle-plus"></i>
                <% end %>
                <h5 class='my-0 mx-0'><%= list.name %></h5>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
