<% if notice %>
  <div class="flash flash-success fade show" role="alert">
    <%# <%= notice %>
    <span>You successfully signed in!</span>
    <a data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
  </div>
<% end %>
<% if alert %>
  <div class="flash flash-warning fade show" role="alert">
    <%= alert %>
    <span>It seems you don't have profile picture yet.</span>
    <a data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
  </div>
<% end %>
<% if alert %>
  <div class="flash flash-danger fade show" role="alert">
    <%= alert %>
    <span>A problem has occurred while processing your demand.</span>
    <a data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
  </div>
<% end %>
