<div class="footer">
  <div class="footer-copyright">
    Created by <strong>Giovanni Barros</strong>
  </div>
  <div class="footer-links">
    <a href="https://github.com/barrosgiovanni/rails-watchlist"><i class="fab fa-github fa-1x"></i></a>
  </div>
</div>
