.banner {
  background-size:auto;
  background-position: center;
  padding: 300px 0;
  height: 90vh;
}

.banner h1 {
  margin-bottom: 24px;
  color: #D7D7D7;
  font-size: 56px;
  font-weight: bold;
}

.banner p {
  margin-bottom: 36px;
  font-size: 28px;
  color: #D7D7D7;
}
