.flash {
  padding: 8px 12px;
  position: fixed;
  bottom: 10vh;
  right: 3vh;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
  background-color: #fff;
  color: #000;
}

.flash-warning {
  border: 2px solid #FFC65A;
  background-color: #fff;
  color: #000;
}

.flash-danger {
  border: 2px solid #FD1015;
  background-color: #fff;
  color: #000;
}
